.photo-grid{
    margin: 0 48px 0;
    transition: margin 0.5s ease;
}


@media screen and (max-width: 1023px){
    .photo-grid {
        margin: 0 24px 0;
    }
  }

@media screen and (max-width: 767px){
    .photo-grid {
        margin: 0 16px 0;
    }
  }