.footer__link-item{
    list-style-type: none;
    margin-left: 18px;
    transition: opacity 1s linear;
}

.footer__link-item:first-of-type{
    margin-left: 0;
}

.footer__link-item:hover{
    opacity: 0.5;
  }

@media screen and (max-width: 767px){
    .footer__link-item{
        margin-left: 0;
        margin-bottom: 32px;
    }
  }