.lead__map{
    width: 95%;
    margin: auto;
	position: absolute;
    top: 35%;
    left: 50%;
	-webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}